.inicio-content {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
}

.top-content {
    padding-top: 13%;
}

.adoption {
    padding: 2% 5%;
    border-radius: 2px;
    color: black;
}

.info-contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--border-color);
}

.icons {
    display: flex;
    align-items: center;
}

.landing-icon {
    color: var(--border-color);
    height: 5vh;
}


.landing-icon path {
    fill: var(--border-color);
}