.top-content {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
}

.inicio-content {
    padding-top: 13%;
}

.otro-content {
    padding-top: 13%;
    text-align: center;
    padding-right: 3rem;
}

.adoption {
    padding: 2% 5%;
    border-radius: 2px;
    color: black;
}

.about-us {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 5% 15%;
}